{% extends 'Tienda/base.html' %}
{% block title %}Selecciona tu método de pago{% endblock %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2><i class="fas fa-credit-card"></i> Selecciona tu método de pago</h2>
    <form method="post" id="payment-form">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.metodo_pago.label_tag }}
            {% for radio in form.metodo_pago %}
            <div class="form-check">
                {{ radio.tag }}
                <label class="form-check-label" for="{{ radio.id_for_label }}">
                    {{ radio.choice_label }}
                </label>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Continuar</button>
    </form>
</div>
{% endblock %} 